<div class="row">
    {{#each food }}
    <div class="col-md-6 p-3">
        <h2>Menu{{menu}}</h2>
        <h3>Pizza:</h3><h6>{{pizza}}</h6>
        <h3>Desserts:</h3><h6>{{desserts}}</h6>
        <h3>Sides-dishes:</h3><h6>{{sideDishes}}</h6>
        <h3>Drinks:</h3><h6>{{drinks}}</h6>
    </div>

    {{/each}}
</div>